setuptools
numpy
cython
setuptools
scipy
pycocotools>=2.0.0,<2.1.0
tensorboardX
tqdm
easydict
prettytable
chumpy
opencv-python
imageio-ffmpeg
matplotlib==3.1.1
roma
ipdb
pytorch-metric-learning
smplx[all]      